
.navbar{
    background-color: transparent;
  }
  
  .navbar.colorChange{
    background-color: red;
  }
  .image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
   color: rgb(240, 22, 22);
  }
  
  .active {
    background-color: #04AA6D;
  }
  .NavMenu{
      color: white;
  }
  .link-button {

    background: rgb(181, 241, 238) ;

    border: 1px solid #aa8d56;

    color: #aa8d56;

    outline: medium none;

  

    text-decoration: none;
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 14px;
    width: 8pc;
    height: 3pc;
    

}
.link-button:hover{
    color: rgb(243, 82, 8) ;
   

}
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: transparent;
  }
  .select{
    background-color: #f9f9f9;
  }
  .option:hover{
    background-color:red;
  }
  

